
form{
    background-color:#6cf68d;
   margin-left:40px;
}
/* input{
    width: 400px;
} */
div{
    display: flex;
    flex-direction: column;
    
}
button:hover{
    background-color: black;
    color:#6cf68d;
}