.Navbar{
      /* background-color: #51bcc0; */
      /* c2dfe0 */
      background-color: #0b8084;
      width: 100vw;
      
}
li{
       display: flex;
      list-style: none;
      align-items: center;
      justify-content: space-around;
}
.Navbar__link{
 text-transform: uppercase;
  text-decoration: none;
  color:#c2dfe0;
 display: flex;
      list-style: none;
      align-items: center;
      justify-content: space-around;

}
.Navbar__link:hover{
 color:black;
}
